<app-box>
  <div class="p-2 p-md-5">
    <app-sub-header>
      <ng-container title>
        {{subheaderTitle}}
      </ng-container>
      <ng-container text>
        {{subheaderText}}
      </ng-container>
    </app-sub-header>
    <form class="d-flex justify-content-center" [formGroup]="addFoodFormGroup">
      <div class="form-group">
        <div class="form-column input-box input-bg-white my-4">
          <input type="text" name="foodNameTR" formControlName="foodNameTR"
            [ngClass]="{ 'is-invalid': f['foodNameTR'].touched && addFoodFormGroup.get('foodNameTR')?.invalid }">
          <label for="foodNameTR" class="form-label"
            [ngClass]="{ 'invalid-label': f['foodNameTR'].touched && addFoodFormGroup.get('foodNameTR')?.invalid }">Yemek
            Adı</label>
          <div [ngClass]="{ 'invalid-feedback-shown': f['foodNameTR'].touched && f['foodNameTR'].errors?.['required'] }"
            class="invalid-feedback">Yemek adı girilmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <input type="text" name="foodNameENG" formControlName="foodNameENG"
            [ngClass]="{ 'is-invalid': f['foodNameENG'].touched && addFoodFormGroup.get('foodNameENG')?.invalid }">
          <label for="foodNameENG" class="form-label"
            [ngClass]="{ 'invalid-label': f['foodNameENG'].touched && addFoodFormGroup.get('foodNameENG')?.invalid }">Yemek
            Adı (İngilizce)</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['foodNameENG'].touched && f['foodNameENG'].errors?.['required'] }"
            class="invalid-feedback">Yemek adının İngilizce'si girilmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <input type="text" name="foodNameARB" formControlName="foodNameARB"
            [ngClass]="{ 'is-invalid': f['foodNameARB'].touched && addFoodFormGroup.get('foodNameARB')?.invalid }">
          <label for="foodNameARB" class="form-label"
            [ngClass]="{ 'invalid-label': f['foodNameARB'].touched && addFoodFormGroup.get('foodNameARB')?.invalid }">Yemek
            Adı (Arapça)</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['foodNameARB'].touched && f['foodNameARB'].errors?.['required'] }"
            class="invalid-feedback">Yemek adının Arapça'sı girilmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <input type="text" formControlName="foodDescriptionTR"
            [ngClass]="{ 'is-invalid': f['foodDescriptionTR'].touched && addFoodFormGroup.get('foodDescriptionTR')?.invalid }">
          <label for="foodDescriptionTR" class="form-label"
            [ngClass]="{ 'invalid-label': f['foodDescriptionTR'].touched && addFoodFormGroup.get('foodDescriptionTR')?.invalid }">Yemek
            Açıklaması</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['foodDescriptionTR'].touched && f['foodDescriptionTR'].errors?.['required'] }"
            class="invalid-feedback">Yemek açıklaması girilmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <input type="text" formControlName="foodDescriptionENG"
            [ngClass]="{ 'is-invalid': f['foodDescriptionENG'].touched && addFoodFormGroup.get('foodDescriptionENG')?.invalid }">
          <label for="foodDescriptionENG" class="form-label"
            [ngClass]="{ 'invalid-label': f['foodDescriptionENG'].touched && addFoodFormGroup.get('foodDescriptionENG')?.invalid }">Yemek
            Açıklaması (İngilizce)</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['foodDescriptionENG'].touched && f['foodDescriptionENG'].errors?.['required'] }"
            class="invalid-feedback">Yemek açıklamasının İngilizce'si girilmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <input type="text" formControlName="foodDescriptionARB"
            [ngClass]="{ 'is-invalid': f['foodDescriptionARB'].touched && addFoodFormGroup.get('foodDescriptionARB')?.invalid }">
          <label for="foodDescriptionARB" class="form-label"
            [ngClass]="{ 'invalid-label': f['foodDescriptionARB'].touched && addFoodFormGroup.get('foodDescriptionARB')?.invalid }">Yemek
            Açıklaması (Arapça)</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['foodDescriptionARB'].touched && f['foodDescriptionARB'].errors?.['required'] }"
            class="invalid-feedback">Yemek açıklamasının Arapça'sı girilmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <input type="number" formControlName="foodPrice"
            [ngClass]="{ 'is-invalid': f['foodPrice'].touched && addFoodFormGroup.get('foodPrice')?.invalid }">
          <label for="foodPrice" class="form-label" foodPrice
            [ngClass]="{ 'invalid-label': f['foodPrice'].touched && addFoodFormGroup.get('foodPrice')?.invalid }">Yemek
            Fiyatı</label>
          <div [ngClass]="{ 'invalid-feedback-shown': f['foodPrice'].touched && f['foodPrice'].errors?.['required'] }"
            class="invalid-feedback">Yemek fiyatı girilmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <input type="text" formControlName="foodImageUrl"
            [ngClass]="{ 'is-invalid': f['foodImageUrl'].touched && addFoodFormGroup.get('foodImageUrl')?.invalid }">
          <label for="foodImageUrl" class="form-label" foodImageUrl
            [ngClass]="{ 'invalid-label': f['foodImageUrl'].touched && addFoodFormGroup.get('foodImageUrl')?.invalid }">Yemek
            Görseli</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['foodImageUrl'].touched && f['foodImageUrl'].errors?.['required'] }"
            class="invalid-feedback">Yemek Görseli yüklenmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <input type="text" formControlName="foodVideoUrl"
            [ngClass]="{ 'is-invalid': f['foodVideoUrl'].touched && addFoodFormGroup.get('foodVideoUrl')?.invalid }">
          <label for="foodVideoUrl" class="form-label" foodImageUrl
            [ngClass]="{ 'invalid-label': f['foodVideoUrl'].touched && addFoodFormGroup.get('foodVideoUrl')?.invalid }">Yemek
            Video URL</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['foodVideoUrl'].touched && f['foodVideoUrl'].errors?.['required'] }"
            class="invalid-feedback">Yemek Video URL girilmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <select formControlName="foodPrimaryCategory"
            [ngClass]="{ 'is-invalid': f['foodPrimaryCategory'].touched && addFoodFormGroup.get('foodPrimaryCategory')?.invalid }">
            <option *ngFor="let primaryCategory of primaryCategoryList" [value]="primaryCategory.id">
              {{primaryCategory.nameTR}}</option>
          </select>
          <label for="foodPrimaryCategory" class="form-label" foodImageUrl
            [ngClass]="{ 'invalid-label': f['foodPrimaryCategory'].touched && addFoodFormGroup.get('foodPrimaryCategory')?.invalid }">Ana
            Kategori</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['foodPrimaryCategory'].touched && f['foodPrimaryCategory'].errors?.['required'] }"
            class="invalid-feedback">Ana Kategori Seçilmelidir.
          </div>
        </div>
        <div class="form-column input-box input-bg-white my-4">
          <select formControlName="foodSubCategory"
            [ngClass]="{ 'is-invalid': f['foodSubCategory'].touched && addFoodFormGroup.get('foodSubCategory')?.invalid }">
            <option *ngFor="let subcategory of subCategoryList" [value]="subcategory.id">{{subcategory.nameTR}}</option>
          </select>
          <label for="foodSubCategory" class="form-label" foodImageUrl
            [ngClass]="{ 'invalid-label': f['foodSubCategory'].touched && f['foodSubCategory'].invalid }">
            Alt Kategori</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['foodSubCategory'].touched && f['foodSubCategory'] .errors?.['required'] }"
            class="invalid-feedback">Alt Kategori seçilmelidir.
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="text-center">
    <button (click)="next()" [disabled]="this.addFoodFormGroup.invalid"
      class="button button--primary mb-3">{{nextButtonText}}</button>
  </div>
</app-box>