<div class="bg-video">
  <video class="bg-video__content" autoplay muted loop>
    <source src="/assets/videos/login.mp4" type="video/mp4">
    <source src="img/video.webm" type="video/webm">
    Your browser is not supported!
  </video>
</div>
<div class="d-flex justify-content-center align-items-center login-container">
  <div class="login-box col-10 col-md-6 col-lg-4 col-xxl-3">
    <div class="text-center py-3">
      <div class="taxi-icon">
        <img src="/assets/images/bonyvex-logo-sapka.png">
      </div>
      <h1>Kullanıcı Girişi</h1>
      <p class="mx-3">Giriş yapmak için bilgileri doldurun.</p>
    </div>
    <form class="loginform d-flex justify-content-center align-items-center" [formGroup]="loginForm"
      (ngSubmit)="login()">
      <div class="w-75">
        <div class="form-column input-box my-3">
          <input type="text" formControlName="username"
            [ngClass]="{ 'is-invalid': f['username'].touched && loginForm.get('username')?.invalid }">
          <label for="username" class="form-label"
            [ngClass]="{ 'invalid-label': f['username'].touched && loginForm.get('username')?.invalid }">Kullanıcı
            Adı</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['username'].touched && f['username'].errors?.['required'] }"
            class="invalid-feedback">Kullanıcı adı girilmelidir.</div>
        </div>
        <div class="form-column input-box">
          <input type="password" formControlName="password"
            [ngClass]="{ 'is-invalid': f['password'].touched && loginForm.get('password')?.invalid }">
          <label for="password" class="form-label"
            [ngClass]="{ 'invalid-label': f['password'].touched && loginForm.get('password')?.invalid }">Şifre</label>
          <div
            [ngClass]="{ 'invalid-feedback-shown': f['password'].touched && f['password'].errors?.['required'] }"
            class="invalid-feedback">Şifre girilmelidir.</div>
          <div class="form-group">
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" [disabled]="this.loginForm.invalid" class="button button--primary mb-3">Giriş</button>
        </div>
      </div>
    </form>
  </div>
</div>