@import '/src/styles.scss';

.box {
  background: var(--color-secondary);
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--color-text);
  box-shadow: $box-shadow-2;
  padding: 1.5rem 6rem;

  @include respond(phone) {
    padding: 1.5rem 1.5rem;
    margin-bottom: 3rem;
  }
}