<footer>
  <nav class="mobile-navbar">
    <ul>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="bi bi-house"></i>
          <span>Dil</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="bi bi-info-circle"></i>
          <span>Menü</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="bi bi-envelope"></i>
          <span>SSS</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>