@import '/src/styles/abstracts/variables';
@import '/src/styles/abstracts/mixins';

.mobile-navbar {
  background-color: $bonyvex-orange;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      padding-right: 1rem;

      &:not(:last-child) {
        border-right: 1px solid black;
      }

      .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        color: #333;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        i {
          width: 100%;
          text-align: center;
        }

        span {
          margin-top: 0.5rem;
          color: #333 !important;
        }
      }
    }
  }

  span {
    margin-top: 0.5rem;
    color: #333 !important;
  }

  .flag-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}