<footer>
  <nav class="mobile-navbar">
    <ul class="row">
      <li class="nav-item col ">
        <div class="row justify-content-between align-items-center">
          <i class="bi bi-translate"></i>
          <form [formGroup]="languageSelectionForm">
            <div class="col">
              <select #languageSelection formControlName="language" class="form-select form-select-lg text-center"
                (change)="changeLanguage($event)">
                <option value="TR">
                  <div class="flag-icon">
                    <img src="assets/icons/TR.png" alt="TR Flag">
                  </div>
                  Türkçe
                </option>
                <option value="ENG">
                  <div class="flag-icon">
                    <img src="assets/icons/ENG.png" alt="ENG Flag">
                  </div>
                  English
                </option>
                <option value="ARB">
                  <div class="flag-icon">
                    <img src="assets/icons/ARB.png" alt="ARB Flag">
                  </div>
                  عربي
                </option>
              </select>
            </div>
          </form>
        </div>
      </li>
      <li class="nav-item col">
        <a routerLink="/menu" class="nav-link">
          <i class="bi bi-info-circle"></i>
          <div [ngSwitch]="currentLanguage$ | async">
            <span *ngSwitchCase="'TR'">Menü</span>
            <span *ngSwitchCase="'ENG'">Menu</span>
            <span *ngSwitchCase="'ARB'">قائمة طعام</span>
          </div>
        </a>
      </li>
      <li class="nav-item col">
        <a routerLink="/faq" class="nav-link">
          <i class="bi bi-envelope"></i>
          <div [ngSwitch]="currentLanguage$ | async">
            <span *ngSwitchCase="'TR'">SSS</span>
            <span *ngSwitchCase="'ENG'">FAQ</span>
            <span *ngSwitchCase="'ARB'">التعليمات</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</footer>