@import '/src/styles/abstracts/variables';
@import '/src/styles/abstracts/mixins';


.app-mobile-header-categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $bonyvex-orange;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: 80px;

  @include respond(phone) {
    justify-content: normal;
  }

  nav {
    ul {
      display: flex;
      height: 80px;
      overflow-x: auto;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;

      li {
        display: flex;
        align-items: center;
        // margin: 0 1.5rem;
        padding: 0 2.5rem 0 2.5rem;

        &:not(:last-child) {
          border-right: 1px solid #333;
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #333;

          i {
            font-size: 2.5rem;
            padding-right: 2.5rem;
            // margin-right: 2.5rem;
          }

          span {
            padding-left: 1.5rem;
          }
        }
      }
    }
  }

  main .menu {
    -webkit-overflow-scrolling: touch;
    margin-bottom: 100px !important;
  }
}

.menu-item {
  &:not(:last-child) {
    border-bottom: 1px solid #8d8b8b !important;
  }
}

.odd {
  background-color: hsl(0, 0%, 99%);
}

.even {
  background-color: hsla(0, 0%, 80%, 0.4);
}

.food-name {
  padding: .5rem 0;
}

a.non-selectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.swip-right-warning {
  text-align: center;
  font-size: 90%;
  width: 100%;
  height: 20px;
  z-index: 15;
}