<div class="menu-content">
  <header class="app-mobile-header-categories">
    <nav>
      <ul>
        <li *ngFor="let primaryCategory of primaryCategoryList">
          <a (click)="getSubCategories(primaryCategory.id)" class="non-selectable">
            <img class="me-3" height="25px" width="25px" [src]="primaryCategory.iconUrl">
            <ng-container [ngSwitch]="currentLanguage$ | async">
              <ng-container *ngSwitchCase="'TR'">
                <span>{{primaryCategory.nameTR}}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'ENG'">
                <span>{{primaryCategory.nameENG}}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'ARB'">
                <span>{{primaryCategory.nameARB}}</span>
              </ng-container>
            </ng-container>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="menu" style="margin-bottom: 100px">
    <div *ngFor="let subCategory of subCategories">
      <hr>
      <ng-container [ngSwitch]="currentLanguage$ | async">
        <ng-container *ngSwitchCase="'TR'">
          <h3 class="heading-sub-category">{{ subCategory.nameTR }}</h3>
        </ng-container>
        <ng-container *ngSwitchCase="'ENG'">
          <h3 class="heading-sub-category">{{ subCategory.nameENG }}</h3>
        </ng-container>
        <ng-container *ngSwitchCase="'ARB'">
          <h3 class="heading-sub-category">{{ subCategory.nameARB }}</h3>
        </ng-container>
      </ng-container>
      <hr>
      <div *ngFor="let food of subCategory.foods; let odd=odd" [ngClass]="[odd ? 'odd' : 'even']" class=" menu-item d-flex
        align-items-center py-4 mx-3">
        <ng-container [ngSwitch]="currentLanguage$ | async">
          <ng-container *ngIf="food.imageUrl != '' else noImage">
            <a href="">
              <ng-container *ngSwitchCase="'TR'">
                <div class="col-9 col-md-6 text-start px-3">
                  <div class="col-12 food-name"> {{ food.nameTR }}</div>
                  <div *ngIf="food.descriptionTR != ''" class="col-12 food-name"> <small class="food-description">{{
                      food.descriptionTR }}</small></div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'ENG'">
                <div class="col-9 col-md-6 text-start px-3">
                  <div class="col-12 food-name"> {{ food.nameENG }}</div>
                  <div *ngIf="food.descriptionENG != ''" class="col-12 food-name"> <small class="food-description">{{
                      food.descriptionENG }}</small></div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'ARB'">
                <div class="col-9 col-md-6 text-start px-3">
                  <div class="col-12 food-name"> {{ food.nameARB }}</div>
                  <div *ngIf="food.descriptionARB != ''" class="col-12 food-name"> <small class="food-description">{{
                      food.descriptionARB }}</small></div>
                </div>
              </ng-container>
            </a>
          </ng-container>
          <ng-template #noImage>
            <ng-container *ngSwitchCase="'TR'">
              <div class="col-9 col-md-6 text-start px-3">
                <div class="col-12 food-name"> {{ food.nameTR }}</div>
                <div *ngIf="food.descriptionTR != ''" class="col-12 food-name"> <small class="food-description">{{
                    food.descriptionTR }}</small></div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'ENG'">
              <div class="col-9 col-md-6 text-start px-3">
                <div class="col-12 food-name"> {{ food.nameENG }}</div>
                <div *ngIf="food.descriptionENG != ''" class="col-12 food-name"> <small class="food-description">{{
                    food.descriptionENG }}</small></div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'ARB'">
              <div class="col-9 col-md-6 text-start px-3">
                <div class="col-12 food-name"> {{ food.nameARB }}</div>
                <div *ngIf="food.descriptionARB != ''" class="col-12 food-name"> <small class="food-description">{{
                    food.descriptionARB }}</small></div>
              </div>
            </ng-container>
            <div class="col-3 col-md-6 border-start text-end px-3">{{ food.price }}₺</div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </main>
  <app-mobile-navbar></app-mobile-navbar>
</div>