<div class="d-flex justify-content-center">
  <h1>Kategoriler Listesi</h1>
</div>

<app-box>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <span>{{ node.nameTR }}</span>
      <div class="px-3 mx-3 button-group">
        <button (click)="editSubCategory(node.id)" class="btn btn-primary mx-3">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button (click)="deleteSubCategory(node.id)" class="btn btn-primary">
          <i class="bi bi-archive"></i>
        </button>
      </div>
    </mat-tree-node>
    <!-- Genişletilebilir düğümler için ağaç düğümü şablonu -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.nameTR">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <span>{{ node.nameTR }}</span>
      <div class="px-3 mx-3">
        <!-- <button (click)="editPrimaryCategory(node.id)" class="btn btn-primary mx-3">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button (click)="deletePrimaryCategory(node.id)" class="btn btn-primary">
          <i class="bi bi-archive"></i>
        </button> -->
      </div>
    </mat-tree-node>
  </mat-tree>
</app-box>