<app-box>
  <h1 class="mb-5">Yemek Menüsü</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">İsim</th>
        <th scope="col">Fiyat</th>
        <th scope="col">Eylem</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foods">
        <th scope="row">{{food.id}}</th>
        <td>{{food.nameTR}}</td>
        <td>{{food.price}} ₺</td>
        <td>
          <button (click)="editFood(food.id)" class="btn btn-primary">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button (click)="deleteFood(food.id)" class="btn btn-primary">
            <i class="bi bi-archive"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-box>