<app-box>
  <app-sub-header>
    <ng-container title>
      Yemek Menüsü
    </ng-container>
    <ng-container text>
      Bu listede Bonyvex Villa QR menüdeki tüm ürünler bulunmaktadır. İlgili ürünün ismini, fiyatını, görsel resmini,
      video linkini, bağlı olduğu kategoriyi düzenlemek için o ürünün yanındaki ikonlara tıklamanız gerekmektedir. Kağıt
      kalem ikonuna tıklayarak ilgili ürünü düzenleyebilir, çöp kutusu ikonuna tıklayarak o ürünü menüden
      silebilirsiniz.
    </ng-container>
  </app-sub-header>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">İsim</th>
        <th scope="col">Fiyat</th>
        <th scope="col">Eylem</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foods let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{food.nameTR}}</td>
        <td>{{food.price}} ₺</td>
        <td>
          <button (click)="editFood(food.id)" class="btn btn-primary mx-3">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button (click)="deleteFood(food.id)" class="btn btn-primary mx-3">
            <i class="bi bi-archive"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-box>