<div class="navigation d-flex align-items-center mb-5">
  <div class="navigation-branding d-inline-flex ps-5">
    <img src="/assets/images/bonyvex-logo.png" class="img-fluid" height="" width="500">
  </div>
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>


  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a routerLink="/menu" class="navigation__link"><span>02</span>Yemek Menüsü</a>
      </li>
      <li class="navigation__item"><a routerLink="/menu" class="navigation__link"><span>02</span>Yemek Menüsü</a>
      </li>
      <li class="navigation__item"><a routerLink="/faq" class="navigation__link"><span>03</span>Sıkça Sorulan
          Sorular</a>
      </li>
    </ul>
  </nav>
</div>