<header class="app-mobile-header-categories">
  <nav>
    <ul>
      <li>
        <a href="#">
          <i class="bi bi-house"></i>
          1
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-info-circle"></i>
          2
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-envelope"></i>
          3
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-house"></i>
          4
        </a>
      </li>
    </ul>
  </nav>
</header>