.app-mobile-header-categories {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #f0f0f0;
  overflow-x: auto;

  nav {
    ul {
      display: flex;
      overflow-x: auto;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        margin-right: 3rem;
        width: 12rem;
        padding: 1.5rem, 0;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #333;

          i {
            font-size: 2.5rem;
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}