<div class="navigation d-flex align-items-center mb-5">
  <div class="navigation-branding d-inline-flex ps-5">
    <img src="/assets/images/bonyvex-logo.png" class="img-fluid" height="" width="500">
  </div>
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a routerLink="/foods" class="navigation__link"><span>01</span>Yemek Menüsü</a>
      </li>
      <li class="navigation__item"><a routerLink="/foods/add" class="navigation__link"><span>02</span>Menüye Yemek
          Ekle</a>
      </li>
      <li class="navigation__item"><a routerLink="/categories" class="navigation__link"><span>03</span>Kategoriler</a>
      </li>
      <li class="navigation__item"><a routerLink="/categories/add" class="navigation__link"><span>04</span>Kategori
          Ekle</a>
      </li>
      <li class="navigation__item"><a routerLink="/faqs" class="navigation__link"><span>05</span>SSS</a>
      </li>
      <li class="navigation__item"><a routerLink="/faqs/add" class="navigation__link"><span>06</span>SSS
          Ekle</a>
      </li>
      <li class="navigation__item" (click)="logout()"><a routerLink="/faqs/add" class="navigation__link"><span>07</span>Çıkış
          Yap</a>
      </li>
    </ul>
  </nav>
</div>